
.flexcontainer {
    display: flex;
    flex-flow: row;
    margin: auto;
    padding: auto;
    flex-direction: row;
}
.myskills {
    margin-left: 30px;
}
.skills {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: fit-content;
    align-content: justify;
}
img {
    align-self: center;
    margin-top: 40px;
}
h1{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 58px;
    color: #000000;
    margin-block-end: 0px;
    }
h2{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 58px;
    color: #000000;
    margin-top: 0px;
}
h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #3F4583;
    margin: 30px;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
p {
  font-family: Lato;
  font-size: 20px;
  line-height: 35px;
  font-weight: normal;
  color: black;
  float: left;
  margin-left: 30px;
  margin-top: 0px;
  margin-right: 70px;
  padding: 10px;
}
.wrapper {
    height: 200px;
    position: relative;
    width: 200px;
}

.about::before {
  float: right;
  width: 50%;
  height: 100%;
  shape-outside: polygon(
          0 0,
          98% 0,
          50% 6%,
          23.4% 17.3%,
          6% 32.6%,
          0 50%,
          6% 65.6%,
          23.4% 82.7%,
          50% 94%,
          98% 100%,
          0 100%
        );
        shape-margin: 7%;
      }
.about {
    background: radial-gradient(
    ellipse at center,
    rgb(252, 196, 151) 0%,
  rgb(252, 196, 151) 70%,
    rgba(109, 54, 172, 0) 70.3%
  );
  height: 100%;
  width: 100%;
}
.work::before {
  float: right;
  width: 50%;
  height: 100%;
  shape-outside: polygon(
          0 0,
          98% 0,
          50% 6%,
          23.4% 17.3%,
          6% 32.6%,
          0 50%,
          6% 65.6%,
          23.4% 82.7%,
          50% 94%,
          98% 100%,
          0 100%
        );
        shape-margin: 7%;
      }
.work {
    background: radial-gradient(
    ellipse at center,
    rgb(252, 196, 151) 0%,
  rgb(252, 196, 151) 70%,
    rgba(109, 54, 172, 0) 70.3%
  );
  height: 100%;
  width: 100%;
}
.contact::before {
  float: right;
  width: 50%;
  height: 100%;
  shape-outside: polygon(
          0 0,
          98% 0,
          50% 6%,
          23.4% 17.3%,
          6% 32.6%,
          0 50%,
          6% 65.6%,
          23.4% 82.7%,
          50% 94%,
          98% 100%,
          0 100%
        );
        shape-margin: 7%;
      }
.contact {
  background: radial-gradient(
  ellipse at center,
  rgb(252, 196, 151) 0%,
  rgb(252, 196, 151) 70%,
  rgba(109, 54, 172, 0) 70.3%
);
height: 100%;
width: 100%;
}
.grid {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
  grid-column-gap: 20px;
  margin: 20.16px;
}
.empty {
  width: 100px;
  height: auto;
  line-height: 80px;
}
.name {
  width: 300px;
  margin-bottom: 20px;
}
button {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 146%;
    width: 413px;
    height: 80px;
    border-radius: 40%;  
}
        );
        shape-margin: 7%;
      }
.grid {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
  grid-column-gap: 20px;
}
.empty {
  width: 100px;
  height: auto;
  line-height: 80px;
}
.name {
  width: 300px;
  height: 100px;
}
